.blog {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.blog .blog-carousel {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  right: -15px;
}

.blog .blog-item {
  position: relative;
  margin: 0 15px;
  background: #ffffff;
  overflow: hidden;
}

.blog .blog-page .blog-item {
  margin: 0 0 30px 0;
}

.blog .blog-item img {
  width: 100%;
  margin-bottom: 25px;
}

.blog .blog-item h3 {
  font-size: 25px;
  font-weight: 600;
}

.blog .blog-item .meta {
  padding: 0 0 15px 0;
}

.blog .blog-item .meta * {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #999999;
}

.blog .blog-item .meta i {
  margin: 0 2px 0 10px;
}

.blog .blog-item .meta i:first-child {
  margin-left: 0;
}

.blog .blog-item p {
  font-size: 16px;
}

.blog .blog-item a.btn {
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aa9166;
  transition: 0.3s;
}

.blog .blog-item a.btn i {
  margin-left: 10px;
}

.blog .blog-item a.btn:hover {
  color: #121518;
}

.blog .owl-nav,
.blog .owl-dots {
  margin-top: 15px;
  text-align: center;
}

.blog .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #aa9166;
}

.blog .owl-dot.active {
  background: #121518;
}

.blog .pagination .page-link {
  color: #121518;
  border-radius: 0;
  border-color: #aa9166;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
  color: #121518;
  background: #aa9166;
}

.blog .pagination .disabled .page-link {
  color: #999999;
}
