/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.contact .contact-info {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  padding: 30px;
  background: #121518;
}

.contact .contact-item {
  position: relative;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border: 2px solid #aa9166;
}

.contact .contact-item i {
  display: inline-block;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #aa9166;
  border: 2px solid #aa9166;
}

.contact .contact-text {
  position: relative;
  width: auto;
  padding-left: 15px;
}

.contact .contact-text h2 {
  color: #aa9166;
  font-size: 25px;
  font-weight: 600;
}

.contact .contact-text p {
  margin: 0;
  color: #999999;
  font-size: 16px;
}

.contact .contact-item:last-child {
  margin-bottom: 0;
}

.contact .contact-form {
  position: relative;
  margin-bottom: 30px;
}

.contact .contact-form input {
  height: 60px;
  border-radius: 0;
  border-width: 2px;
  border-color: #121518;
}

.contact .contact-form textarea {
  height: 190px;
  border-radius: 0;
  border-width: 2px;
  border-color: #121518;
}

.contact .contact-form .btn {
  padding: 16px 35px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aa9166;
  background: #121518;
  border: 2px solid #aa9166;
  border-radius: 0;
  transition: 0.3s;
}

.contact .contact-form .btn:hover {
  color: #121518;
  background: #aa9166;
}

/*******************************/
/******* Single Page CSS *******/
/*******************************/
.single {
  position: relative;
  width: 100%;
  padding: 45px 0 65px 0;
}

.single img {
  margin: 10px 0 15px 0;
}

.single .table,
.single .list-group {
  margin-bottom: 30px;
}

.single .ul-group {
  padding: 0;
  list-style: none;
}

.single .ul-group li {
  margin-left: 2px;
}

.single .ul-group li::before {
  position: relative;
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.single .ol-group {
  padding-left: 18px;
}
