/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.team .team-item {
  margin-bottom: 30px;
}

.team .team-img {
  position: relative;
}

.team .team-img img {
  width: 100%;
}

.team .team-text {
  position: relative;
  padding: 50px 15px 30px 15px;
  text-align: center;
  background: #121518;
}

.team .team-text h2 {
  font-size: 22px;
  font-weight: 600;
  color: #aa9166;
}

.team .team-text p {
  margin: 0;
  color: #999999;
}

.team .team-social {
  position: absolute;
  width: calc(100% - 60px);
  height: 50px;
  top: -25px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #aa9166;
  font-size: 0;
  transition: 0.5s;
}

.team .team-item:hover .team-social {
  width: 100%;
  left: 0;
}

.team .team-social NavLink {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
  text-align: center;
  color: #121518;
  transition: 0.3s;
}

.team .team-social NavLink:last-child {
  margin-right: 0;
}

.team .team-social NavLink:hover {
  color: #ffffff;
}
